<!DOCTYPE html>
<html>
<head>
	<title>online food blog</title>
	
	<link rel="stylesheet" type="text/css" href="asset/style.css">
</head>
<body>
	<h2>Online food blog</h2>
	<br>
	<form method="post">
        <a href="/registration">registration</a>
        <a href="/login">login</a>
	</form>
</body>
</html>