<!DOCTYPE html>
<html>
<head>
	<title>Reg page</title>
	
	<link rel="stylesheet" type="text/css" href="asset/style.css">
</head>
<body>
	<h2>Reg Page</h2>
	<br>
	<form method="post">
		Username: <input type="text" name="mname" ><br>
		Password: <input type="password" name="mpassword" ><br>
		address: <input type="text" name="maddress" ><br>
		email: <input type="email" name="memail" ><br>
		Phone: <input type="number" name="mphone" ><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>