<!DOCTYPE html>
<html>
<head>
	<title>profile page</title>
	
	<link rel="stylesheet" type="text/css" href="asset/style.css">
</head>
<body>
	<h2>profile Page</h2>
	<br>
	<form method="post">
		Username: <input type="text" name="uname" readonly value="<%=user[0].aname%>" id="name"><br>
		Password: <input type="text" name="password"  value="<%=user[0].apassword%>" id="password"><br>
		<input type="submit" value="Update">
	</form>
</body>
</html>